@if (_openEditMask || ShowEdit)
{
    if (_openEditMask)
    {
        <button class="btn btn-primary mb-3" @onclick="OnListChange">
            Request approval
        </button>
        <button class="btn btn-secondary mb-3" @onclick="() => _openEditMask = false">
            Cancel
        </button>    
    }
    <EditListView List="List" EditProposedListChange="_openEditMask"/>
}
else
{
    @if (IsCurrentUser)
    {
        <button class="btn btn-warning mb-3" @onclick="() => _openEditMask = true">
            @if (List.ProposedListChange != null)
            {
                <span>List change still pending for approval</span>
            }
            else
            {
                <span>Request list change</span>
            }
        </button>    
    }
    <ReadOnlyListView List="List"/>
}

@code {
    [Parameter]
    public GameListEditModel List { get; set; }
    [Parameter]
    public bool IsCurrentUser { get; set; }
    [Parameter]
    public bool ShowEdit { get; set; }
    [Parameter] public EventCallback OnRequestListChange { get; set; }
    private bool _openEditMask;

    private async void OnListChange()
    {
        await OnRequestListChange.InvokeAsync();
        _openEditMask = false;
    }

}