@using FadingFlame.UserAccounts
@using FadingFlame.Players
@using FadingFlame.Events
@inherits LayoutComponentBase
@inject IUserAccountCommandHandler _commandHandler
@inject IPlayerRepository _playerRepository
@inject UserState _userState

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4" hidden="@IsLoggedIn">
            <a href="/login" >Login</a>
        </div>
        <div class="top-row px-4" hidden="@(!IsLoggedIn)">
            <span>Hello @UserName</span>
            <a href="/logout" @onclick="LogOut">Logout</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    public bool IsLoggedIn => _userState.UserIsLoggedIn;
    public string UserName => _userState.UserName;

    public async Task<string> GetUserName()
    {
        if (_userState.UserIsLoggedIn)
        {
            var player = await _playerRepository.Load(_userState.LoggedInPlayerId);
            return player.DisplayName;
        }

        return "";
    }

    private async Task LogOut()
    {
        await _commandHandler.Logout();
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool what)
    {
        if (!IsLoggedIn)
        {
            await _commandHandler.LoginFromCookie();
            var userName = await GetUserName();
            if (_userState.UserIsLoggedIn)
            {
                _userState.SetUserLoggedIn(_userState.LoggedInPlayerId, userName);
                StateHasChanged();
            }
        }
    }
}
