@using FadingFlame.UserAccounts
@using FadingFlame.Players
@inherits LayoutComponentBase
@inject IUserAccountCommandHandler _commandHandler
@inject IPlayerRepository _playerRepository
@inject UserState _userState

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4" hidden="@IsLoggedIn">
            <a href="/login">
                <span class="oi oi-account-login" aria-hidden="true"></span>
            </a>
        </div>
        <div class="top-row px-4" hidden="@(!IsLoggedIn)">
            <span>Hello<a href="@Link">@UserName</a></span>
            <a href="/" @onclick="LogOut">
                <span class="oi oi-account-logout" aria-hidden="true"></span>
            </a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    public bool IsLoggedIn => _userState.UserIsLoggedIn;
    public string UserName => _userState.UserName;
    public string Link => $"/player/{_userState.LoggedInPlayerId}";

    public async Task<string> GetUserName()
    {
        if (_userState.UserIsLoggedIn)
        {
            var player = await _playerRepository.Load(_userState.LoggedInPlayerId.Value);
            return player.DisplayName;
        }

        return "";
    }

    private async Task LogOut()
    {
        await _commandHandler.Logout();
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        _userState.UserLoggedIn += (_, _) =>
        {
            StateHasChanged();
        };
        
        _userState.UserLoggedOut += (_, _) =>
        {
            StateHasChanged();
        };
    }

    protected override async Task OnAfterRenderAsync(bool what)
    {
        if (!IsLoggedIn)
        {
            await _commandHandler.LoginFromCookie();
            var userName = await GetUserName();
            if (_userState.UserIsLoggedIn)
            {
                _userState.SetUserLoggedIn(_userState.LoggedInPlayerId.Value, userName);
                StateHasChanged();
            }
        }
    }
}
