@using FadingFlame.UserAccounts
@using FadingFlame.Players
@inherits LayoutComponentBase
@inject IUserContext _userContext
@inject IUserAccountCommandHandler _commandHandler
@inject IPlayerRepository _playerRepository

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4" hidden="@IsLoggedIn">
            <a href="/login" >Login</a>
        </div>
        <div class="top-row px-4" hidden="@(!IsLoggedIn)">
            <span>Hello @UserName</span>
            <a href="/login" @onclick="LogOut">Logout</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    public bool IsLoggedIn => _userContext.GetUser() != null;
    public string UserName { get; set; }

    public async Task<string> GetUserName()
    {
        var userAccount = _userContext.GetUser();
        if (userAccount != null)
        {
            var player = await _playerRepository.Load(userAccount.PlayerId);
            return player.DisplayName ?? userAccount.Email;
        }

        return "";
    }

    private async Task LogOut()
    {
        await _commandHandler.Logout();
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool what)
    {
        if (!IsLoggedIn)
        {
            await _commandHandler.LoginFromCookie();
            UserName = await GetUserName();
            StateHasChanged();
        }
    }
}
