@using FadingFlame.UserAccounts
@using FadingFlame.Players
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Logging
@inherits LayoutComponentBase
@inject IPlayerRepository _playerRepository
@inject UserState _userState
@inject NavigationManager _navigation
@inject IHttpContextAccessor _httpContextAccessor

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (!_userState.UserIsLoggedIn)
            {
                <a class="btn btn-primary" href="/Login">
                    <span class="oi oi-account-login" aria-hidden="true"></span><span class="m-2">Login</span>
                </a>
            }
            else
            {
                <span>Hello<a href="@Link">@_userState.UserName</a></span>
                <a href="/Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span>
                </a>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
        
        <div class="text-center p-3 pt-5 cursor" @onclick="() => GoToImprint()">
            Imprint
        </div>    
    </div>
</div>

@code
{
    public string Link => $"/player/{_userState.LoggedInPlayerId}";

    protected override void OnInitialized()
    {
        _userState.UserLoggedIn += (_, _) => StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var httpContext = _httpContextAccessor.HttpContext;
        if (httpContext != null)
        {
            await httpContext.AuthenticateAsync("Cookies");
            
            if (_userState.UserIsLoggedIn)
            {
                var player = await _playerRepository.LoadByEmail(_userState.AccountEmail);
                if (player == null)
                {
                    player = Player.Create(_userState.UserName, _userState.AccountEmail);
                    await _playerRepository.Insert(player);
                }
                _userState.SetUserData(player.Id);
            }
        }
    }

    public void GoToImprint()
    {
        _navigation.NavigateTo("imprint");
    }
}
