@using FadingFlame.UserAccounts
@using FadingFlame.Players
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@using MongoDB.Bson
@inherits LayoutComponentBase
@inject IPlayerRepository _playerRepository
@inject UserState _userState
@inject NavigationManager _navigation
@inject IHttpContextAccessor _httpContextAccessor

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4" hidden="@_userState.UserIsLoggedIn">
            <a href="/Login">
                <span class="oi oi-account-login" aria-hidden="true"></span>
            </a>
        </div>
        <div class="top-row px-4" hidden="@(!_userState.UserIsLoggedIn)">
            <span>Hello<a href="@Link">@_userState.UserName</a></span>
            <a href="/Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span>
            </a>
        </div>

        <div class="content px-4">
            @Body
        </div>
        
        <div class="text-center p-3 pt-5 cursor" @onclick="() => GoToImprint()">
            Imprint
        </div>    
    </div>
</div>

@code
{
    public string Link => $"/player/{_userState.LoggedInPlayerId}";

    protected override void OnInitialized()
    {
        _userState.UserLoggedIn += (_, _) => StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var contextAccessorHttpContext = _httpContextAccessor.HttpContext;
        if (contextAccessorHttpContext != null)
        {
            await contextAccessorHttpContext.AuthenticateAsync("Cookies");
            var claims = contextAccessorHttpContext.User.Claims.ToList();
            
            var email = claims.FirstOrDefault(c => c.Type == "email")?.Value;
            if (email != null)
            {
                var player = await _playerRepository.LoadByEmail(email);
                if (player == null)
                {
                    var name = claims.FirstOrDefault(c => c.Type == "given_name")?.Value;
                    player = Player.Create(name, email);
                    await _playerRepository.Insert(player);
                }
                _userState.SetUserData(player.Id, player.DisplayName, player.AccountEmail);
                StateHasChanged();
            }
        }
    }

    public void GoToImprint()
    {
        _navigation.NavigateTo("imprint");
    }
}
