@using FadingFlame.Players

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand ms-4" href="">Fading Flame</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <NavLink href="https://www.warhall.eu/" target="_blank" style="text-decoration: none !important;">
        <div class="warhall-banner">
            Sponsored by:
        </div>
    </NavLink>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-sort-descending" aria-hidden="true"></span>Leagues
            </NavLink>
        </li> 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ladder" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span>Ladder
            </NavLink>
        </li> 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/matches" Match="NavLinkMatch.All">
                <span class="oi oi-fire" aria-hidden="true"></span>Matches
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/playoffs" Match="NavLinkMatch.All">
                <span class="oi oi-star" aria-hidden="true"></span>Playoffs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/rules" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span>Rules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lists" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span>Lists
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All" hidden="@(!_loggedInUserState.UserIsAdmin)">
                <span class="oi oi-shield" aria-hidden="true"></span>Admin
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3 d-xxl-none d-xl-none d-lg-none d-md-none d-sm-none">
                    <NavLink class="nav-link" href="@($"/player/{_loggedInUserState.LoggedInPlayer.Id}")" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span>My profile
                    </NavLink>
                </li>
                <li class="nav-item px-3 d-xxl-none d-xl-none d-lg-none d-md-none d-sm-none">
                    <NavLink class="nav-link" href="/Logout" Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span>Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3 d-xxl-none d-xl-none d-lg-none d-md-none d-sm-none">
                    <NavLink class="nav-link" href="/Login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span>Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@inject LoggedInUserState _loggedInUserState

@code {
    private bool _collapseNavMenu = true;
    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        _loggedInUserState.UserLoggedIn += (_, _) => StateHasChanged();
    }
}