@page "/admin"
@using FadingFlame.Leagues
@using FadingFlame.UserAccounts
@inject UserState _userState
@inject ILeagueCommandHandler _leagueCommandHandler

@if (_userState.UserIsAdmin)
{
    <button class="button" @onclick="CreateLeagues">make leagues</button>
}

@code {

    protected override void OnInitialized()
    {
        _userState.UserLoggedIn += (_, _) => StateHasChanged();
        _userState.UserLoggedOut += (_, _) => StateHasChanged();
    }

    private async Task CreateLeagues()
    {
        await _leagueCommandHandler.CreateLeagues();
    }
}
