@page "/"
@using FadingFlame.Leagues
@using FadingFlame.Players
@using MongoDB.Bson
@inject ILeagueRepository _leagueRepository
@inject NavigationManager _navigation

<div>
    <h1>Welcome to the Fading Flame League!</h1>
    <hr class="my-4">
    <p class="lead">The next season starts on 4.10.2021 and list submission will end on the 25.09.2021!</p>
    <hr class="my-4">
</div>

<div class="row row-cols-auto justify-content-around">
    @foreach (var league in _leagues)
    {
        <div class="col mb-4 cursor" @onclick="() => GoToLeague(league.Id)">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    @league.DivisionId @league.Name
                </div>
                <div class="card-body">
                     <span class="oi oi-star" aria-hidden="true"></span><span class="card-title mx-2">@GetName(league.Players.First().Id)</span>
                </div>
            </div>
        </div>  
    }
</div>

@inject IPlayerRepository _playerRepository

@code
{
    private List<League> _leagues = new();
    private List<Player> _playersInLeague = new();

    protected override async Task OnInitializedAsync()
    {
        _leagues = await _leagueRepository.LoadForSeason(1);
        _playersInLeague = await _playerRepository.LoadForLeague(_leagues.SelectMany(l => l.Players).Select(p => p.Id).ToList());
    }
    
    private string GetName(ObjectId playerId)
    {
        return _playersInLeague.FirstOrDefault(p => p.Id == playerId)?.DisplayName;
    }

    public void GoToLeague(ObjectId leagueId)
    {
        _navigation.NavigateTo($"league/{leagueId}");
    }
}
