@page "/"
@using FadingFlame.Leagues
@inject ILeagueRepository _leagueRepository

<h1>Welcome to the fading flame!</h1>

<table class="table">
    <thead>
    <tr>
        @_leagues.FirstOrDefault()?.Season
    </tr>
    <tr>
        <th>Name</th>
        <th>Points</th>
        <th>Matches</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var playerInLeague in _leagues)
    {
        <tr>
            <td>@playerInLeague.Name</td>
            <td>@playerInLeague.Season</td>
        </tr>
    }
    </tbody>
</table>

@code
{
    private List<League> _leagues = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _leagues = await _leagueRepository.LoadForSeason(1);
        StateHasChanged();
    }
}
