@page "/"
@using FadingFlame.Leagues
@using MongoDB.Bson
@inject ILeagueRepository _leagueRepository
@inject NavigationManager _navigation

<div>
    <h1>Welcome to the Fading Flame League!</h1>
    <hr class="my-4">
    <p class="lead">The next season starts on 4.10.2021 and list submission will end on the 25.09.2021!</p>
    <hr class="my-4">
</div>

<div class="row row-cols-lg-6 row-cols-md-4 row-cols-sm-2">
    @foreach (var league in _leagues)
    {
        <div class="col mb-4 cursor" @onclick="() => GoToLeague(league.Id)">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    @league.DivisionId @league.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">@league.Name</h5>
                </div>
            </div>
        </div>  
    }
</div>

@code
{
    private List<League> _leagues = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _leagues = await _leagueRepository.LoadForSeason(1);
        StateHasChanged();
    }

    public void GoToLeague(ObjectId leagueId)
    {
        _navigation.NavigateTo($"league/{leagueId}");
    }
}
