@page "/rules"

<div>
    <h1>Fading Flames Rules Pack 2.1 (03.08.2021)</h1>
    <hr class="my-4">
</div>
In each <b>League</b> season, each player is assigned to the particular League level. At each level there are 12 (6) participants divided into 2 (1) divisions of 6 players. The <b>League</b> will be played in a round-robin system <u>with the time schedule of ONE GAME PER TWO WEEKS.</u><br> 
<hr class="my-3">
The Groups and schedule will be official for all at the second Play-Off Round. Then we finally know how much want to participate in the second round of the league. At this time it will be announcend if there are two or one division each league.<br>
<hr class="my-3">
If you haven't made youre match (Or a conclusion with youre opponent) two weeks after the round deadline it will be automaticly a 0-0 for both.<br>
If you can prove that you made the efforts to play against youre opponent and he has not gone to this point you can send the screenshots to the Orga Group or Almentro in Discord. Then we will find a conclusion and a result for the game<br>
<i>Example:</i> Player A vs. Player B didnt play theyre round 1 game now is the start of Round 3 so they both get a 0-0 for this game.<br>
<hr class="my-3">
<ol>
    <li>Games will be played in 4500 pts format with the games being always played with the most current ruleset available at https://www.the-ninth-age.com/downloads?lang=en. Supplements are allowed, but Giant Supplement will be forbidden. The suggested tool is Universall Battle 2 or Warhall but if both players decide otherwise, they might play offline or use other tools. If the game happens on Universall Battle 2, the game needs to be set to private with password: wings.</li>
    <li>How The League data and the reporting is happening is still in the development</li>
    <li>At the Start of the new Season every player reaches in up to two lists. One day before the league official start they will be announced open for all. The Deadline for the list submission will be 1 Week before the start of the new season.</li>
    <li>If you send in two lists you have to play at least two games with each list, otherwise you will get a penalty of 20 points </li>
    <li>Standings after each League season will be determined in the following order
        <ol type="a">
            <li>Battle Points</li>
            <li>Direct result</li>
            <li>Victory Points</li>
            <li>Coinflip (XD)</li>
        </ol>
    </li>
    <li>The lists have to be in the NewRecruit Format.</li>
    <li>After each season of the League:
        <ol type="a">
            <li>Promotions and demotions are described here: https://docs.google.com/spreadsheets/d/1Gfj6bgpHaX0BHJUc81oa6I8xjoKAKO6k9KWO73j5-4Q/edit?usp=sharing (this document will be overworked once we know how much people will play)</li>
            <li>Playoffs will be overworked once we know the Number of People who will participate in the league</li>
            <li>Some goes for the Finals Cup</li>
        </ol>
    </li>
    <li><b>New Leage Season will start <u>04.10.2021</u> so Deadline for List submission will be the 25.09.2021</b></li>
    <li>Prices will be announced</li>
    <li>New players can sign up for the League before the season starts and they will be assigned to a League level based on their Tourneykeeper results and/or personal experience from the player local to them. Players can also obviously drop out of the League and if they do so, all their previous and future results are changed to 0-20. They will although be able to rejoin the League in the next season if they wish so and they will be then placed in a League below the one they left from.</li>
    <li>By signing up for the league, the player agrees to the above conditions and allows the organizer to use his nickname and discord contact information in the League results and ongoing scheduling. The player also agrees his games might be streamed and commentated ;].</li>
    <li>In the case of any conflicts or any decisions to be made, the organizer will be making a final decision.</li>
</ol>