@page "/Ladder"
@using FadingFlame.Players
@using MongoDB.Bson

<div>
  <h1>Lists played this season</h1>
  <hr class="my-4">
  
    <table class="table">
      <thead>
      <tr>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Matches</th>
      </tr>
      </thead>
      <tbody class="league">
      @foreach (var item in _enlistedPlayersOriginal.Select((value, index) => new { value, index }))
      {
          <tr @onclick="() => GoToPlayer(item.value.Id)" class="cursor">
              <td>@item.value.Id</td>
              <td>@item.value.Wins</td>
              <td>@item.value.Losses</td>
              <td>@item.value.MatchCount</td>
          </tr>
      }
      </tbody>
    </table> 
</div>

@inject IPlayerRepository _playerRepository
@inject NavigationManager _navigation

@code {
  private List<Player> _enlistedPlayersOriginal = new();
  
  protected override async Task OnInitializedAsync()
  {
    _enlistedPlayersOriginal = await _playerRepository.LoadAllRanked();
  }

  private void GoToPlayer(ObjectId playerId)
  {
    _navigation.NavigateTo($"player/{playerId}");
  }
}