@page "/rules"

<div>
    <h1>Fading Flames Rules Pack 2.2 (27.12.2021)</h1>
    <hr class="my-4">
</div>
In each season, each player is assigned to the particular League level. At each level there are 12 (6) participants divided into 2 (1) divisions of 6 players. The <b>League</b> will be played in a round-robin system <u>with the time schedule of ONE GAME PER TWO WEEKS.</u><br> 
<hr class="my-3">
The Groups and schedule will be official for all at the second Play-Off Round. Then we finally know how much want to participate in the second round of the league. At this time it will be announcend if there are two or one division each league.<br>
<hr class="my-3">
If you haven't made your match (Or a conclusion with your opponent) two weeks after the round deadline it will be automaticly a 0-0 for both.<br>
If you can prove that you made the efforts to play against your opponent and he has not gone to this point you can send the screenshots to the orga group in Discord. Then we will find a conclusion and a result for the game<br>
<i>Example:</i> Player A vs. Player B didnt play theyre round 1 game now is the start of Round 3 so they both get a 0-0 for this game.<br>
<hr class="my-3">
<ol>
    <li>Games will be played in 4500 pts format with the games being always played with the most current ruleset available at <a href="https://www.the-ninth-age.com/downloads?lang=en">9th-age</a>. Supplements are allowed, but Giant Supplement will be forbidden. The suggested tool is Universall Battle 2 or Warhall but if both players decide otherwise, they might play offline or use other tools. If the game happens on Universall Battle 2, the game needs to be set to private with password: wings.</li>
    <li>Games have a time limit of 4,5 hours. If this time limit gets exceeded the players have the right to stop the match on an even turn and calculate the results on the given state of the game.</li>
    <li>In case your army book receives an update, you are allowed to change the affected list once in one of the following ways:
        <ol type="a">
            <li>If it is a hotfix or small balance update, you are only allowed to change the amount of models in units and you are allowed to add one unit and to remove one unit. Every rulebook update is considered a minor update unless the orga team states it otherwise.</li>
            <li>If it is a major release, you are allowed to change the list completely. The orga group will announce that in the announcement channel.</li>
        </ol>
    Every list change has to be send via the website and if the criteria are met, the list will be updated for you. The goal is to keep the themes of the lists the same but still have legal lists in the tournament, so the orga group will judge the lists also on a "common sense" rule and reserve the right to rule against a list change, if it is obvious that the player is just trying to create a hard counter list against his next opponent. After all, we want to have a fun and fair environment for everyone =)</li>
    <li>At the Start of the new Season every player submits up to two lists. It is allowed to submit lists of two different factions. One day before the league official start they will be announced open for all.</li>
    <li>The lists have to be in the NewRecruit Format.</li>
    <li>If you send in two lists you have to play at least one game with each list, otherwise you will get a penalty of <b>20</b>points</li>
    <li>Rankings after each game will be determined in the following order
        <ol type="a">
            <li>Battle Points</li>
            <li>Direct result</li>
            <li>Victory Points</li>
            <li>Coinflip (XD)</li>
        </ol>
    </li>
    <li>Promotions and demotions work as follows:
        <ol type="a">
            <li>First place of each league makes a relegation game against 4th player of <b>two</b> leagues above. In case of a win for the first place, the first place goes up two leagues and the forth place goes down one league. In case of a loss for the first place, the first place only goes up one league. This does not apply for league 2 and 3, here the first player just goes up one league</li>
            <li>Second Place of each league makes a relegation game against 5th placer of <b>one</b> league above. The winner will go to the higher league where the looser goes into the lower league</li>
            <li>The last place of each league always gets demoted one league</li>
        </ol>
    </li>
    <li>Playoffs work as follows:
        <ol type="a">
            <li>Every first placed of each league will go to the playoffs</li>
            <li>From leage 1 and 2 also the second place goes into the playoffs</li>
            <li>In case of a uneven amount of leagues, the better place 3 from league 1 will go into the playoffs aswell</li>
            <li>The pairings will be evenly distributed by skill and placement. League 1 and two will go into the second round immediatly while the lower leagues will be paired from highest league to lowest</li>
        </ol>
    </li>
    <li>New players can sign up for the League before the season starts and they will be assigned to a League level based on their Tourneykeeper results and/or personal experience from the player local to them. Players can also obviously drop out of the League and if they do so, all their previous and future results are changed to 0-20. They will although be able to rejoin the League in the next season if they wish so and they will be then placed in a League below the one they left from.</li>
    <li>By signing up for the league, the player agrees to the above conditions and allows the organizer to use his nickname and discord contact information in the League results and ongoing scheduling. The player also agrees his games might be streamed and commentated ;].</li>
    <li>In the case of any conflicts or any decisions to be made, the organizer will be making a final decision.</li>
</ol>