@page "/admin"
@using FadingFlame.Leagues
@using FadingFlame.Discord
@using FadingFlame.Players
@using FadingFlame.Playoffs
@inject UserState _userState
@inject ILeagueCommandHandler _leagueCommandHandler
@inject IPlayoffCommandHandler _playoffCommandHandler
@inject IDiscordBot _discordBot

@if (_userState.UserIsAdmin)
{
    <div class="m-2">
        <button disabled="@_loadingLeagues" type="button" class="btn btn-primary" @onclick="CreateLeagues">
            @if (_loadingLeagues)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Reset Season 1
        </button>
    </div>
    
    <div class="m-2">
        <button disabled="@_loadingPlayoffs" type="button" class="btn btn-primary" @onclick="CreatePlayoffs">
            @if (_loadingLeagues)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Create Playoffs Season 1
        </button>
    </div>
    
}

@code {
    private bool _loadingLeagues;
    private bool _loadingPlayoffs;
    
    protected override void OnInitialized()
    {
        _userState.UserLoggedIn += (_, _) => StateHasChanged();
    }

    private async Task CreateLeagues()
    {
        _loadingLeagues = true;
        var leagues = await _leagueCommandHandler.CreateLeagues();
        await _discordBot.CreateLeagueChannels(leagues);
        _loadingLeagues = false;
    }
    
    private async Task CreatePlayoffs()
    {
        _loadingPlayoffs = true;
        await _playoffCommandHandler.CreatePlayoffs();
        _loadingPlayoffs = false;
    }
}
