@page "/admin"
@using FadingFlame.Leagues
@using FadingFlame.UserAccounts
@using FadingFlame.Discord
@inject UserState _userState
@inject ILeagueCommandHandler _leagueCommandHandler
@inject IDiscordBot _discordBot

@if (_userState.UserIsAdmin)
{
    <button disabled="@_loading" type="button" class="btn btn-primary" @onclick="CreateLeagues">
        @if (_loading)
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Reset Season 1
    </button>
}

@code {
    private bool _loading;
    
    protected override void OnInitialized()
    {
        _userState.UserLoggedIn += (_, _) => StateHasChanged();
    }

    private async Task CreateLeagues()
    {
        if (_userState.UserIsAdmin)
        {
            _loading = true;
            var leagues = await _leagueCommandHandler.CreateLeagues();
            await _discordBot.CreateLeagueChannels(leagues);
            _loading = false;
        }
    }

}
